.skillsss {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 100px;
  align-items: start;
  display: flex;
  justify-content: center;
}
.skill-row {
  height: 100%;
}
.skill-text {
  display: grid;
  grid-template-rows: auto 1fr;
}
